<a href="https://colab.research.google.com/github/Annie00000/Project/blob/main/2_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 第一則的想法

## 第二個的想法

In [ ]:

WITH table1_prepared AS (
    SELECT
        col1 AS "column1",
        col2,
        col3,
        LEFT(col1, 9) || '.00' AS col4  # CONCAT(SUBSTRING(col1, 1, 9), '.00')
    FROM table1
),
table2_latest AS (
    SELECT
        col1,
        col2,
        ROW_NUMBER() OVER(PARTITION BY col1 ORDER BY [某个时间戳或递增ID字段] DESC) AS rn
        -- 假设table2有一个可以表示顺序的字段，如时间戳或自增ID
        # ROW_NUMBER() OVER(PARTITION BY col1 ORDER BY time_col DESC
    FROM table2
    # WHERE time_col < '特定时间' -- 假设有一个列名为time_col，且需要过滤出在特定时间之前的记录

)
SELECT
    t1."column1",
    t1.col2 AS t1_col2,
    t1.col3 AS t1_col3,
    t1.col4,
    t2.col1 AS t2_col1,
    t2.col2 AS t2_col2
FROM table1_prepared t1
JOIN table2_latest t2 ON t1.col4 = t2.col1
WHERE t2.rn = 1;  -- 选择重复中的最后一条记录

请注意几点：

LEFT(col1, 9) || '.00' 是用于创建 col4 的表达式，适用于 PostgreSQL。如果您使用的是 MySQL，您可能需要使用 CONCAT(LEFT(col1, 9), '.00')。

在 table2_latest 子查询中，使用了 ROW_NUMBER() OVER(PARTITION BY col1 ORDER BY [某个时间戳或递增ID字段] DESC) 来为每个 col1 的重复值分配一个行号，其中最新（或最后一条）记录被赋予 rn=1。您需要替换 [某个时间戳或递增ID字段] 为实际能代表顺序的字段，比如一个时间戳字段或者自增的ID字段。


使用 WITH 语句（公共表表达式或CTE）来简化查询，使其更加清晰。
这个例子给出了一个基本的框架，您可能需要根据您的具体数据库系统和表结构进行相应的调整。