<a href="https://colab.research.google.com/github/Annie00000/Project/blob/main/8_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

如果na值我也想排名呢? 就放最後排成最後的名次

In [ ]:
import pandas as pd
import numpy as np

# 示例数据
data = {
    'col1': ['A', 'A', 'B', 'B', 'C', 'A', 'B', 'C', 'C', 'C'],
    'col2': ['X', 'X', 'Y', 'Y', 'Z', 'Y', 'Z', 'X', 'X', 'Y'],
    'col3': [3.0, 3.0, np.nan, np.nan, 2.0, 1.0, 1.0, np.nan, np.nan, 4.0]
}
df = pd.DataFrame(data)

# 按 col3 值由大至小排序，将 NaN 值放在末尾
df_sorted = df.sort_values(by='col3', ascending=False, na_position='last')

# 创建一个新的列用于存储排名
df_sorted['rank'] = np.nan

# 对非 NaN 部分进行排名
df_sorted.loc[df_sorted['col3'].notna(), 'rank'] = df_sorted.loc[df_sorted['col3'].notna(), 'col3'].rank(method='dense', ascending=False)

# 对 NaN 部分进行单独排名
nan_groups = df_sorted[df_sorted['col3'].isna()].groupby(['col1', 'col2']).ngroup() + 1
df_sorted.loc[df_sorted['col3'].isna(), 'rank'] = nan_groups + df_sorted['rank'].max()

# 打印结果
print(df_sorted)

In [ ]:
  col1 col2  col3  rank
9    C    Y   4.0   1.0
0    A    X   3.0   2.0
1    A    X   3.0   2.0
4    C    Z   2.0   3.0
5    A    Y   1.0   4.0
6    B    Z   1.0   4.0
2    B    Y   NaN   5.0
3    B    Y   NaN   5.0
7    C    X   NaN   6.0
8    C    X   NaN   6.0

1. 创建 DataFrame：包含一些示例数据，其中 col3 列有一些值为 NaN。
2. 排序：使用 sort_values 对 col3 列进行排序，将 NaN 值放在末尾。
3. 非 NaN 部分排名：对非 NaN 部分进行排名，确保相同 col1 和 col2 组合的情况具有相同的排名。
4. NaN 部分排名：对 NaN 部分进行单独排名，在不同的 col1 和 col2 组合下具有不同的排名。